body, * {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.done {
  text-decoration: line-through;
}

h3 {
  width: 50%;
  margin: 2rem auto;
  text-align: center;
  font-size: 3rem;
}

form {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.allDone {
  margin-right: 0;
}

form > * {
  margin-right: 0.5rem;
}

input[type="text"] {
  flex-grow: 1;
}

input, button {
  padding: 0.8rem;
}

li {
  border: 1px solid black;
  list-style: none;
  padding: 0.8rem;
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

li > button {
  padding: 0.1rem;
}

li > * {
  margin-right: 0.5rem;
}

ul {
  width: 50%;
  margin: 0 auto;
}